@media (max-width: 1670px) {
  .footer__map {
    top: -57px;
    bottom: -100px;
    width: 716px;
    height: 719px;
}
}

@media (max-width: 1410px) {
  .header__inner {
    gap: 20px;
  }
  .footer__info {
    gap: 20px;
  }

  .popup {
    left: 25%;
    right: 25%;
    top: 10%;
  }

  .footer__map {
      top: -55px;
      bottom: -100px;
      width: 635px;
      height: 635px;
  }
  .footer__content{
    padding: 50px 0 20px;
  }
  
}

@media (max-width: 1332px) {
  .content__review {
    right: 175px;
  }

  .footer__map {
    top: -27px;
    bottom: -100px;
    width: 721px;
    height: 721px;
}
  .footer__info {
    flex-direction: column;
    gap: 10px;
  }
  .footer__title {
    margin-bottom: 0;
  }
  .footer__content-btn{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .room__price-block {
    top: -30px;
  }
}

@media (max-width: 1240px) {
  .aside,  .content__teg{
    display: none;
  }
  .content__inner {
    justify-content: center;
  }
  .content__review {
    right: 163px;
  }
  .pagination {
    justify-content: center;
  }
  .content__filter-btn {
    display: block;
  }
  
}

@media (max-width: 1155px) {
  .popup__decore {
    max-width: 270px;
  }
  .top {
    background-image: url(../img/top-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .top__inner {
    background-image: none;
  }

  .header__phone--none, .menu--none, .header__address--none , .header__btn--none{
    display: none;
  }
  .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__nav.open-menu{
    left: 0;
  }

  .menu-burger__header {
    position: relative;
      width: 50px;
      height: 35px;
      display: block;
      margin-left: 10px;
      transition: all 0.5s;
    }
  .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
    height: 4px;
    width: 100%;
    position: absolute;
    background-color: #EAB14E;
    margin: 0 auto;
    transition: all 0.5s;
    border-radius: 3px;
  }
  .header__nav {
    display: block;
    position: absolute;
    top: 113px;
    left: 0;
    background-color: rgb(243, 242, 242);
    box-shadow: 0px 0px 34px rgba(227, 227, 227, 0.25);
    box-shadow: #ccc;
    width: 100%;
    transition: all 0.3s ease;
    left:-110%;
    height: 399px;
    padding-top: 29px;
    z-index: 99999;
  }
  .menu-burger__header span{
    top: 16px;
  }
  .menu-burger__header:after, .menu-burger__header:before{
    content: '';
  }
  .menu-burger__header:after{
    bottom: 5px;
  }
  .menu-burger__header:before{
    top: 5px;
  }
  .menu-burger__header.open-menu span {
    opacity:0; 
    transition: 0.5s; 
  }
  .menu-burger__header.open-menu:before {
    transform: rotate(38deg);
      top: 16px;
      transition: 0.4s;
  }
  .menu-burger__header.open-menu:after {
    transform: rotate(-38deg);
      bottom: 16px;
      transition: 0.4s;
  }

  .footer__map {
    display: none;
  }

  .footer__info {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .footer__title {
    margin-bottom: 20px;
  }
  .footer__content-btn {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 24px;
  }
  .footer__inner {
    text-align: center;
  }
  .footer__map-mobile {
    display: block !important;
    width: 100%;
    height: 370px;
  }

  .popup {
    left: 17%;
    right: 17%;
  }

    //
    .header__nav2.open-menu2{
      left: 0;
    }
  
    .aside-mob {
      display: block;
      border: none;
    }
    .header__nav2 {
      display: block;
      position: absolute;
      top: 60px;
      padding-left: 30px;
      padding-right: 30px;
      left: 0;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      width: 100%;
      z-index: 9999;
      border: 1px solid #EAB14E;
      border-radius: 10px;
      transition: all 0.3s ease;
      left:-110%;
      height: 535px;
      padding-top: 29px;
    }

    .menu-burger__header2 {
      float: right;
      border: none;
      background-color: transparent;
      transition: all 0.3s;
      cursor: pointer;
      &:hover {
        opacity: 80%;
      }
    }

    .about__content {
      gap: 20px;
    }

    .room__top {
      flex-direction: column;
      align-items: center;
    }
    .room__price-block {
      position: static;
      margin-bottom: 25px;
    }
    .room__text {
      max-width: 100%;
    }

    .room__items {
      display: grid;
      justify-content: center;
      align-items: center;
      margin-bottom: 73px;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      gap: 26px;
  }

}

@media (max-width: 890px) {
  .content__item {
    flex-direction: column;
  }
  .footer__bottom {
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .form__title {
    font-size: 40px;
  }
  .popup {
    left: 10%;
    right: 10%;
  }
  .top__drop {
    padding-right: 80px;
  }
  .about__content {
    flex-direction: column;
    align-items: center;
  }
  .room__bottom {
    flex-direction: column;
    gap: 10px;
  }
  .reservation__status {
    flex-direction: column;
    padding: 29px 10px;
  }
  .reservation__status-step {
    width: 285px;
  }
  .entry__inner {
    gap: 5px;
  }
  .entry__inner--drop {
    flex-direction: column;
    gap: 90px;
    height: 910px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .entry__line--drop {
    display: none;
  }

  
}

@media (max-width: 710px) {
  .content__review {
    left: 30px;
    top: 273px;
  }
 
  .top__drop::after, .entry__line {
    display: none;
  }
  .top__date, .top__peoples {
    margin-left: 10px;
  }
  .top__title-big {
    font-size: 40px;
  }
  .top__title {
    font-size: 30px;
  }
  .top__subtitle {
    font-size: 17px;
  }
  .top__inner {
    padding: 50px 0 100px;
  }
  .popup__decore {
    max-width: 201px;
  }
  .form__title {
    font-size: 35px;
}
  .popup {
    top: 12%;
    left: 4%;
    right: 4%;
  }
  .benefits__items {
    flex-direction: column;
    align-items: center;
    gap: 50px;

  }
  .benefits__item{
    text-align: center;
    &:nth-child(2) {
      border: none;
      padding: 0;
    }
  }
  .benefits__img {
    margin: 0 auto 20px;
  }
  .room__price-block {
    flex-direction: column;
  }
  .room__items {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }
  .room__title{
    line-height: 121%;
    font-size: 35px;
    text-align: center;
  }

  .bredcrumbs {
    position: relative;
    z-index: 1;
    &__list {
      flex-wrap: wrap;
    }
    &__item{
      flex-shrink: 0;
      &:first-child{
        margin-left: 17px;
      }
    }
  }

  .form-reserv__inner {
    display: block;
  }

  .form-reserv__bottom {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .form-reserv {
    margin-bottom: 0;
  }

  .entry__inner {
    flex-direction: column;
    gap: 90px;
  }
  
}

@media (max-width: 490px) {
  .top__date, .top__peoples {
    margin-right: 0;
    margin-left: 30px;
  }
  .top__drop {
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
  .form__inner {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
    flex-direction: column;
  }
  .popup {
    top: 7%;
    padding: 28px 28px 30px;
  }
  .form__input {
    width: 100%;
  }
  .footer__title {
    font-size: 42px;
    margin-bottom: 7px;
  }
  .footer__phone, .footer__mail {
    font-size: 29px;
    line-height: 22px;
  }
  .header__address, .form__text {
    text-align: center;
  }

  .form__btn {
    display: block;
    margin: 0 auto 19px;
  }

  .form__text {
    margin: 0 auto;
  }
  .form__title {
    font-size: 25px;
  }
  .popup__decore {
    display: none;
  }

  .about__top-img {
    width: 100%;
  }

  .about__item {
    width: 100%;
  }
  .about__items {
    flex-direction: column;
  }
  .content__top-title, .about__title, .benefits__title, .reservation__title  {
    font-size: 40px;
    line-height: 110%;
  }
  .benefits__title {
    margin-bottom: 60px;
  }
  .reservation__status-step {
    max-width: 350px;
  }
  .top__drop {
    padding-bottom: 12px;
    padding-top: 12px;

  }
}

@media (max-width: 415px) {
  .content__item-inner {
    margin: 0 auto;
    max-width: 273px;
    max-height: 273px;
  }
  .content__item {
    padding: 15px 15px 18px 15px;
  }
  .content__review {
    top: 214px;
    left: 15px;
  }
  .about__text-inner {
    flex-direction: column;
  }
  .pay__inner {
    gap: 15px;
  }
  .pay__bottom {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .pay__link {
    position: static;
    align-items: center;
    display: block;
    text-align: center;
    margin-top: 20px;
  }
  .pay {
    margin-bottom: 40px;
  }
  .next, .prev {
    top: 99px;
  }
}

@media (max-width: 375px) {
  .content__item-flex {
    flex-direction: column;
    gap: 20px;
  }
  .top__menu, .top__menu2 {
    padding-left: 8px;
    padding-right: 8px;
  }
  .entry__inner--drop {
    width: 275px;
  }

  .calendar-mob {
    width: 275px;
    left: -5px;
  }
  .calendar__days--mob, .calendar__days-weeks--mob {
    gap: 8px;
  }
  .menu-burger__header2-mob{
    position: relative;
    left: -20px;
  }
} 
