%medium-font-mont{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

%regular-playfair{
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
}

%medium-playfair{
  font-family: 'Playfair Display', sans-serif;
  font-weight: 500;
}
