@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

//header
.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-top: 45px;
    padding-bottom: 46px;
  }
  &__address,
  &__phone {
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    text-transform: uppercase;
    transition: all 0.3s;
  }
  &__btn {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
    border-bottom: 1px solid #C8A466;
    padding-bottom: 11px;
    padding-right: 20px;
    margin-top: 10px;
    transition: color 0.3s;
    &::after {
      background-image: url(../img/arrow-ic.svg);
      background-repeat: no-repeat;
      content: "";
      position: absolute;
      top: 2px;
      right: -3px;
      width: 13px;
      height: 13px;
      width: 16px;
      height: 16px;
    }
    &:hover {
      color: #C8A466;
    }
  }
  &__phone:hover {
    color: #C8A466;
  }
}
.menu {
  &__list {
    display: flex;
    align-items: center;
    gap: 43px;
  }
  &__list-item {}
  &__list-link {
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    text-transform: uppercase;
    transition: all 0.3s;
  }
  &__list-link:hover {
    color: #C8A466;
  }
}
//header

//footer
.footer {
  padding-top: 107px;
  &__map {
    position: absolute !important;
    top: -100px;
    bottom: -100px;
    right: -100px;
    z-index: 99;
    border-radius: 50%;
    width: 850px;
    height: 850px;
  }
  &__info {
    display: flex;
    gap: 67px;
  }
  &__map-main {
    // position: absolute !important;
    // right: 0;
    // top: 0;
    width: 100%; 
    height: 100%;
  }
  &__content {
    background-color: #091826;
    padding: 100px 0 70px;
    position: relative;
  }
  &__content-inner {
    
  }
  &__inner {

  }
  &__title {
    @extend %regular-playfair;
    font-size: 65px;
    line-height: 120%;
    color: #FFFFFF;
    max-width: 572px;
    margin-bottom: 50px;
  }
  &__title-accent {
    color: #C8A466;
  }
  &__content-block {
    margin-bottom: 30px;
  }
  &__phone,
  &__mail {
    font-size: 46px;
    line-height: 54px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px;
    display: block;
  }
  &__content-text {
    font-weight: 400;
    font-size: 16px;
    color: #A5A5A5;
    line-height: 19px;
  }
  &__mail {}
  &__content-btn {
    border: 1px solid #C8A466;
    background-color: transparent;
    border-radius: 50%;
    width: 155px;
    height: 155px;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s;
  }
  &__content-btn:hover {
    transform: scale(1.1);
    opacity: 80%
  }
  &__bottom {
    display: flex;
    align-items: center;
    gap: 95px;
    padding: 50px 0;
  }
  &__bottom-link,
  &__bottom-btn {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
    transition: all 0.3s;
    &:hover {
      color: #C8A466;
    }
  }
  &__bottom-link {}
  &__bottom-btn {
    position: relative;
    padding-bottom: 11px;
    padding-right: 20px;
    margin-top: 10px;
    border-bottom: 1px solid #000000;
    transition: all 0.3s;
    &::after {
      background-image: url(../img/arrow-ic.svg);
      background-repeat: no-repeat;
      content: "";
      position: absolute;
      top: 2px;
      right: -3px;
      width: 13px;
      height: 13px;
      width: 16px;
      height: 16px;
    }
    &:hover {
      color: #C8A466;
      border-bottom-color: #C8A466;

    }
  }
  &__bottom-text {}
  &__map-mobile {
    display: none !important;
  }
  &__map-mobile-frame {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: none;
  }

}
//footer

//top
.top {
  margin-bottom: 80px;
  &__inner {
    background-image: url(../img/top-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 113px 60px 130px;
  }
  &__title-big {
    @extend %medium-playfair;
    font-size: 65px;
    line-height: 130%;
    color: #fff;
  }
  &__title {
    @extend %regular-playfair;
    max-width: 654px;
    font-size: 45px;
    line-height: 54px;
    color: #D1D1D1;
    margin-bottom: 20px;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #fff;
    max-width: 569px;
    margin-bottom: 50px;
  }
  &__drop {
    min-height: 80px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 90px;
    background-color: #fff;
    max-width: 624px;
    padding: 5px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      right: 50%;
      top: 17px;
      width: 1px;
      height: 48px;
      background-color: #EDEDED;
      opacity: 0.48;
    }
  }
  &__date {
    position: relative;
    padding-left: 30px;
    padding-right: 22px;
    margin-left: 40px;
    &::after {
      content: '';
      background-image: url(../img/calendar-top.svg);
      background-repeat: no-repeat;
      position: absolute;
      width: 24px;
      height: 24px;
      top: -2px;
      left: 0;
    }
    &::before {
      content: '';
      background-image: url(../img/top-arrow-min.svg);
      background-repeat: no-repeat;
      position: absolute;
      top: 9px;
      right: 5px;
      width: 9px;
      height: 5px;
    }

  }
  &__peoples {
    padding-left: 30px;
    padding-right: 13px;
    position: relative;
    padding-right: 22px;
    margin-left: 40px;
    &::after {
      content: '';
      background-image: url(../img/calendar-top.svg);
      background-repeat: no-repeat;
      position: absolute;
      width: 24px;
      height: 24px;
      top: -2px;
      left: 0;
    }
    &::before {
      content: '';
      background-image: url(../img/top-arrow-min.svg);
      background-repeat: no-repeat;
      position: absolute;
      top: 9px;
      right: 5px;
      width: 9px;
      height: 5px;
    }
  }
  &__date,
  &__peoples {
    border: none;
    background-color: transparent;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
    cursor: pointer;
    margin-right: 10px;
  }
  &__link {
    position: absolute;
    right: 5px;
    transition: all 0.3s;
    &:hover {
      opacity: 80%;
    }
  }
}
//top


// range
.polzunok-container-5 {
  padding-left: 15px;
  padding-right: 34px;
  position: relative;

}
.polzunok-container-5:after {
  content: "";
  clear: both;
  display: table;
}
.polzunok-container-5 .ui-slider {
  position: relative;
  background: #DFDFDF;
  height: 1px;
  border-radius:10px;
  outline: none;
}
.polzunok-container-5 .ui-slider .ui-slider-handle {
  position: absolute;
  margin-left: -16px;
  width: 17px;
  height: 17px;
  cursor: pointer;
  border-radius: 50%;
  top: -8px;
  background: #C8A466;
  z-index: 2;
  transition: transform 0.2s, border 0.4s;
}
.polzunok-container-5 .ui-slider .ui-slider-handle:hover,
.polzunok-container-5 .ui-slider .ui-slider-handle:focus {
  transform: scale(1.2);
 
}
.polzunok-input-5-left,
.polzunok-input-5-right {
  height: 29px;
  background: #F7F7F7;
  border-radius: 28px;
  border: none;
  text-align:center;
  font-size: 18px;
  width: 74px;
  margin-top: 15px;
  border-radius: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  
}
.polzunok-input-5-left {
  float: left;
  margin-left: -19px;
}
.polzunok-input-5-right {
  float: right;
  margin-left: -20px;
}
.polzunok-container-5 .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  height: 1px;
  background: #C8A466;
}
// range

//content


//gal
.awSlider .carousel{
  display:table;
  z-index:2;
  -moz-box-shadow: 0 0 4px #444;
	-webkit-box-shadow: 0 0 4px #444;
	box-shadow: 0 0 15px rgba(1,1,1,.5);
}

.awSlider{
  margin:30px auto;
  padding:30px;
  position:relative;
  display:table;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.awSlider:hover > img{
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity:1;
}

.awSlider img{
   pointer-events: none;
}

.awSlider > img{
  position:absolute;
  top:30px;
  z-index:1;
  transition:all .3s;
  filter: blur(1.8vw);
  -webkit-filter: blur(2vw);
  -moz-filter: blur(2vw); 
  -o-filter: blur(2vw); 
  -ms-filter: blur(2vw);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity:.5;
}
//gal


//content
.content {
  &__top {
    margin-bottom: 49px;
  }
  &__top-title {
    @extend %medium-playfair;
    font-size: 50px;
    line-height: 150%;
    margin-bottom: 10px;
    max-width: 559px
  }
  &__top-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #000000
  }
  &__inner {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 54px;
  }
  &__main {}
  &__main-top {}
  &__teg {}
  &__items {}
  &__item {}
  &__item-box {}
  &__item-title {}
  &__item-subtitle {}
  &__item-text {}
  &__item-flex {}
  &__item-price {}
  &__item-link {}
}
.aside {
  width: 281px;
  border-right: 1px solid #F2F2F2;
  &__span {
    position: absolute;
    left: 80px;
    bottom: 3px;
  }
  &__span2 {
    position: absolute;
    left: 255px;
    bottom: 3px;

  }
  &__radio {
    accent-color:  #C8A466;
  }
  &__title {
    font-size: 20px;
    line-height: 127%;
    color: #000000;
    margin-bottom: 38px;
    font-weight: 500;
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 18px;
  }
  &__sub-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 127%;
    margin-bottom: 20px;
    color: #000000;
  }
  &__data-btn {
    position: relative;
    padding-left: 33px;
    padding-right: 20px;
    border: none;
    font-size: 16px;
    line-height: 150%;
    background-color: transparent;
    margin-bottom: 37px;
    &::after {
      content: '';
      background-image: url(../img/calendar-top.svg);
      background-repeat: no-repeat;
      position: absolute;
      width: 24px;
      height: 24px;
      top: -2px;
      left: 0;
    }
    &::before {
      content: '';
      background-image: url(../img/top-arrow-min.svg);
      background-repeat: no-repeat;
      position: absolute;
      top: 11px;
      right: 5px;
      width: 9px;
      height: 5px;
    }
  }
  &__group {
    margin-bottom: 46px;
  }
  &__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-left: 8px;
  }
}
.image {
  &__slider {}
}
.pagination {
  &__item {}
  &__link {}
  &__link--active {}
}
//content



//radio
.bulgy-radios {
  background: #fff;
  margin-bottom: 44px;
  
  label {
    display: block;
    position: relative;
    height: 1em;
    padding-left: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    user-select: none;
    color: #555;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-left: 7px;
    &:hover input:not(:checked) ~ .radio {
      opacity: 0.8;
    }
  }
  .label {
    display: flex;
    align-items: center;
    padding-right: 3rem;
    span {
      line-height: 1em;
    }
  }
  input {
    position: absolute;
    cursor: pointer;
    height: 0;
    width: 0;
    left: -2000px;

    &:checked {
      ~ .radio {
        background-color: #ffffff;
        transition: background .3s;
        &::after {
          opacity: 1;
        }
      }
      ~ .label {
        color: #C8A466;
        span {
          animation: bulge .5s forwards;
        }

        //adjust this if label is going to be more than 20 chars
        @for $i from 1 to 20 {
          span:nth-child(#{$i}) { animation-delay: $i * 0.025s; }
        }
      }
    }
  }
}
.radio {
  position: absolute;
  top: -1px;
  left: 0;
  height: 19px;
  width: 19px;
  border: 1px solid #BFBFBF;
  background: #ffffff;
  border-radius: 50%;
  &::after {
    content: '';
    position: absolute;
    opacity: 0;
    top: .3rem;
    left: .3rem;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #C8A466;
  }
}


//radio


@import 'media';
